@{
    string controller = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString().ToLower();
    string action = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString().ToLower();
    bool search = Session["Search"] != null ? (bool)Session["Search"] : false;
    string searchString = Session["SearchString"] != null ? (string)Session["SearchString"] : "";
    string searchCategory = Session["SearchCategory"] != null ? (string)Session["SearchCategory"] : "";
    int currentBookmarkId = Session["CurrentBookmarkId"] != null ? (int)Session["CurrentBookmarkId"] : 0;
    string CurrentBookmarkTitle = Session["CurrentBookmarkTitle"] != null ? (string)Session["CurrentBookmarkTitle"] : "";
    bool GroupByTitles = Session["GroupByTitles"] != null ? (bool)Session["GroupByTitles"] : true;
    bool SearchAscending = Session["SortAscending"] != null ? (bool)Session["SortAscending"] : true;
}

<div class="section roundedBorder">
    <div class="headerMenu">
        <a class="siteIcon" href="/Bookmarks/list"></a>
        <!-- Direct action context command icons -->
        @switch (action)
        {
            case "list":
                string checkIcon = "<i class='menuIcon fa fa-check mx-2'></i>";
                string uncheckIcon = "<i class='menuIcon fa fa-fw mx-2'></i>";
                string byTitles;
                string byCategories;
                if (GroupByTitles)
                {
                    byTitles = checkIcon;
                    byCategories = uncheckIcon;
                }
                else
                {
                    byTitles = uncheckIcon;
                    byCategories = checkIcon;
                }

                <div class="pageTitle">Bookmarks</div>
                <div id="mainMenuPanel" class="menu">
                    <a href="/@controller/Create" class="cmdIcon fa fa-circle-plus" title="Ajouter..."></a>
                    @if (GroupByTitles)
                    {
                        if (SearchAscending)
                        {
                            <a href="/@controller/ToggleSort" id="cmdToggleSearch" class="cmdIcon fa fa-arrow-down-short-wide" title="Tri ascendant..."></a>
                        }
                        else
                        {
                            <a href="/@controller/ToggleSort" id="cmdToggleSearch" class="cmdIcon fa fa-arrow-up-wide-short" title="Tri descendant..."></a>
                        }
                        <a href="/@controller/ToggleSearch" id="cmdToggleSearch" class="cmdIcon fa fa-search" title="Recherche..."></a>
                    }
                    else
                    {
                        <i id="uncollapse-all" class="cmdIcon fa-regular fa-square-caret-right"></i>
                    }
                    <!-- Dropdown menu -->
                    <div id="menu" class="dropdown ms-auto">
                        <!-- Menu acces icon -->
                        <div data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="cmdIcon fa fa-bars" title="Menu"></i>
                        </div>
                        <!-- Menu items -->
                        <div class="dropdown-menu noselect" id="DDMenu">
                            <div class="dropdown-item item-layout">
                                <i class="menuIcon fa fa-address-card"></i>Profil...
                            </div>
                            <div class="dropdown-item item-layout">
                                <i class="menuIcon fa fa-sign-out"></i> Déconnexion...
                            </div>
                            <div class="dropdown-divider"></div>
                            <div class="dropdown-item item-layout">
                                <i class="menuIcon fa fa-users"></i> Gestion des usagers...
                            </div>
                            <div class="dropdown-item item-layout">
                                <i class="menuIcon fa fa-calendar-days"></i> Historique de connexions...
                            </div>

                            <div class="dropdown-divider"></div>

                            <div class="dropdown-item item-layout">
                                @Html.Raw(byTitles)
                                <a href="/@controller/GroupByTitles">
                                    Lister par titres
                                </a>
                            </div>
                            <div class="dropdown-item item-layout">
                                @Html.Raw(byCategories)
                                <a href="/@controller/GroupByCategories">
                                    Grouper par catégories
                                </a>
                            </div>
                            <div class="dropdown-divider"></div>
                            <div class="dropdown-item item-layout">
                                <i class="menuIcon fa fa-info-circle"></i>
                                <a href="/@controller/About">À propos...</a>
                            </div>
                        </div>
                    </div>
                </div>
                break;
            case "details":
                <div class="pageTitle">Détails</div>
                <div id="mainMenuPanel" class="menu">
                    <a href="/@controller/Edit" class="cmdIcon fa fa-pen-to-square" title="Modifier..."></a>
                    <i class="cmdIcon fa fa-trash-can"
                       title="Effacer"
                       onclick="bootbox.confirm('<b style=color:red>Effacer le Bookmark : </b><h3>@CurrentBookmarkTitle?</h3>', function(result){ if (result) window.location = '/@controller/Delete'; })">
                    </i>
                    <a href="/@controller/List" class="cmdIcon fa fa-square-xmark" title="retour"></a>
                </div>
                break;
            case "create":
                <div class="pageTitle">Ajout</div>
                <div id="mainMenuPanel" class="menu">
                    <i class="cmdIcon submitCmd fa fa-circle-check" title="Soumettre" onclick="document.getElementById('submit').click()"></i>
                    <a href="/@controller/List" class="cmdIcon fa fa-square-xmark" title="Annuler"></a>
                </div>
                break;
            case "edit":
                <div class="pageTitle">Modification</div>
                <div id="mainMenuPanel" class="menu">
                    <i class="cmdIcon submitCmd fa fa-circle-check" title="Soumettre" onclick="document.getElementById('submit').click()"></i>
                    <a href="/@controller/Details/@currentBookmarkId" class="cmdIcon fa fa-square-xmark" title="Annuler"></a>
                </div>
                break;
            case "about":
                <div class="pageTitle">À propos</div>
                <div id="mainMenuPanel" class="menu">
                    <a href="/@controller/List" class="cmdIcon fa fa-square-xmark" title="Retour"></a>
                </div>
                break;
        }

    </div>
</div>
<div class="searchBarLayout">
    @if (action == "list" && search && GroupByTitles)
    {
        <input type="search" id="searchInput" class="section roundedBorder" value="@searchString" placeholder="Recherche...">

        var BookmarkCategories = ViewBag.BookmarkCategories;
        if (BookmarkCategories != null)
        {
            <select name="Category" id="category" class="form-control">
                <option value="*">Toutes les catégories</option>
                @foreach (var category in BookmarkCategories)
                {
                    if (category.ToLower() == searchCategory.ToLower())
                    {
                        <option value="@category" selected>@category</option>
                    }
                    else
                    {
                        <option value="@category">@category</option>
                    }
                }
            </select>
        }
    }
</div>

